html, body{ margin: 0; padding: 0; overflow: hidden; background: none; }

#container {
    margin: 0px auto;
    width: 960px;
    height: 720px;
    border: 10px #333 solid;
}
#videoElement {
    width: 960px;
    height: 720px;
    background-color: #666;
}
#c {
	position: absolute;
    margin: 0px auto;
    width: 960px;
    height: 720px;
}

#v {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -240px;
}
